footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   color: var(--primary) !important;
   background-color: white;
    padding: 10px 0px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0px -6px 15px 0px #31313143;
}
footer i{
    font-size: 24px;
    margin: 0px 10px;
}
.home-icon{
    color: var(--primary) !important;
}